<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            margin: 0;
        }

        #control {
            height: 5%;
            width: 100%;
        }
        #webchat {
            height: 95%;
            width: 100%;
        }
    </style>
</head>
<body>
    <div id="control">
        <a href="/webchat?locale=@ViewData["Locale"]">Restart With New User Id</a> OR <a href="/webchat?locale=@ViewData["Locale"]&userId=@ViewData["UserID"]">Restart With Current User Id</a>
    </div>
    <div id="webchat" role="main"></div>

    <script>
    (async function () {
        const store = window.WebChat.createStore({}, ({ dispatch }) => next => action => {
        if (action.type === 'DIRECT_LINE/CONNECT_FULFILLED') {
            dispatch({
                type: 'WEB_CHAT/SEND_EVENT',
                payload: {
                    name: 'webchat/join',
                    value: {
                        language: window.navigator.language
                    }
                }
            });
        }
        return next(action);
        });

        window.WebChat.renderWebChat({
            directLine: window.WebChat.createDirectLine({
                token: '@ViewData["DirectLineToken"]'
            }),
            locale: '@ViewData["Locale"]',
            userID: '@ViewData["UserID"]',
            store
        }, document.getElementById('webchat'));

        document.querySelector('#webchat > *').focus();
    })().catch(err => console.error(err))
    </script>
</body>
</html>
